*.[ao]
*.ko
*.o.cmd
*.ko.cmd
*.mod.c
*.lo
*.la
*.deps
*.libs
*~
*.swp
*.log
*.patch
modules.order
Makefile
zfs.spec
zfs-modules.spec
/stamp-h1
libtool
zfs_config.h
zfs-script-config.sh
scripts/common.sh
configure.scan
config.status
autom4te.cache/
